<mat-card>
  <mat-card-content>
    <div id="mision" class="all ">
      <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-xs-12 text-center text-lg-left">
              <div class="titulo">Mision</div>
              <div class="parrafo"> Dirigir y controlar el desarrollo de las políticas y estratégias institucionales en
                el campo de la investigación científica, desarrollo tecnológico y la innovación, para la adaptación y
                producción de tecnología acorde con las necesidades de la Fuerza Aérea Colombiana.</div>
            </div>
            <div class="col-lg-5 col-md-6 col-xs-12 mx-auto d-block">
              <img class="mx-auto d-block" src="https://i.ytimg.com/vi/gKcChpK34tk/maxresdefault.jpg" alt="">
            </div>
          </div>

        </div>
      </section>
    </div>
  </mat-card-content>
</mat-card>