.example-form {

  width: 100%;
}

.example-full-width {
  width: 100%;
}

.tarjeta {
  min-width: 800px;
  max-width: 1200px;
}

.tarjeta2 {
  min-width: 200px;
  max-width: 300px;
}

.mat-card-title {
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
  color: #004884;
  padding: 0.5rem;
}

.mat-card-subtitle {
  color: #004884;
  font-family: "Work Sans", sans-serif;
}
