<section>
  <div class="all">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 mx-auto d-block">

          <img class="mx-auto d-block"
            src="https://www.cgfm.mil.co/sites/default/files/styles/cms_bootstrap_12_12/public/blog/images/cogfm-fac-red-flag-2019-26.gif?itok=38-LWW_5 "
            alt="">
          <!-- <img src="../../../assets/images/100FAC.jpg " alt="" style=" width:350px;
                          height:350px;
                          border-radius:200px;"> -->
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="titulo">Misión y Visión SCTeI de la Fuerza Aérea Colombiana</div>
          <div class="parrafo">
              <b>
                  Misión
              </b>
              <li>
                  Desarrollar actividades de ciencia, tecnología e innovación (ACTI), que permitan generar una ventaja
                  militar e impulsen la independencia
                  tecnológica para fortalecer el dominio del aire, el espacio y el ciberespacio
              </li>
              <b>
                  Visión
              </b>
              <li>
                  Para el año 2042 el SCTeI, será un referente regional en la identificación, desarrollo e implementación 
                  de tecnologías aéreas, espaciales y ciberespaciales. El SCTeI contará con un mínimo del 1.5% del presupuesto 
                  de funcionamiento de la Fuerza, el cuál permitirá la identificación de proyectos estratégicos, la protección 
                  de la propiedad intelectual y la transferencia que permitan generar retorno de la inversión
              </li>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>