<div class="agregar-presupuesto">
    <div class="agregar-presupuesto__title">
        <label>{{data.name}}</label>
    </div>
    <div class="agregar-presupuesto__sub-title">
        <label>{{SUB_TITLE}}<b>{{data.name}}</b></label>
        <br>
        <label>{{MAX}} <b>{{data.maxLimit | currency}}</b></label>
    </div>
    <div class="agregar-presupuesto__calendar">
        <mat-form-field appearance="fill">
            <mat-label>Presupuesto ejecutado</mat-label>
            <input [(ngModel)]="presupuesto" type="number" maxlength="2" matInput (keyup)="OnDateChange($event.target.value)">
        </mat-form-field>
        <input class="select-pdf" type="file" id="file" (change)="saveBill($event.target.files)">
        <div class="error-format-modal">
            <label *ngIf="formatError">{{ERROR_LABEL}}</label>
        </div>
    </div>

    <div class="agregar-presupuesto__button">
        <button [disabled]="!presupuesto || !fileToUpload" mat-button mat-stroked-button (click)="saveDate()">{{SAVE_DATE}}</button>
        <button mat-button mat-stroked-button (click)="saveDate()">{{CANCEL}}</button>
    </div>
</div>

