<div class="agregar-presupuesto">
    <div class="agregar-presupuesto__title">
        <label>{{data.name}}</label>
    </div>

    <div class="agregar-presupuesto__sub-title">
        <label>Ingrese el presupuesto ejecutado para <b>{{data.name}}</b></label>
        <br>
        <label>Monto máximo:  <b>{{data.maxLimit | currency}}</b></label>
    </div>

    <div class="agregar-presupuesto__calendar">

        <mat-form-field appearance="fill">
            <mat-label>Presupuesto ejecutado</mat-label>
            <input [(ngModel)]="presupuesto" type="number" maxlength="2" matInput (keyup)="OnDateChange($event.target.value)">
        </mat-form-field>

        <input class="select-pdf" type="file" id="file" (change)="saveBill($event.target.files)">
        <div class="error-format-modal">
            <label *ngIf="formatError">Por favor ingresar un documento con formato PDF</label>
        </div>
    </div>

    <div class="agregar-presupuesto__button">
        <button [disabled]="!presupuesto || !fileToUpload" mat-button mat-stroked-button (click)="saveDate()">Actualizar presupuesto</button>
        <button mat-button mat-stroked-button (click)="saveDate()">Cancelar</button>
    </div>

</div>

