<div class="container">
    <div class="row">
        <div class="col-lg-12 md-6 sm-3">
            <mat-card>
                <mat-card-title>Información</mat-card-title>
                <mat-card-content>
                    <form [formGroup]="informacion">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre de la Investigación</mat-label>
                            <input matInput readonly [value]="ivNs">
                        </mat-form-field>
                        <div *ngIf="Validor" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Falta el nombre del proyecto!</strong> por favor diligenciar
                            <button (click)="CloseAlert()" type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <mat-card-subtitle>Pregunta de la Investigación</mat-card-subtitle>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Pregunta de la Investigación</mat-label>
                            <input formControlName="pregunta" matInput>
                        </mat-form-field>
                        <mat-card-subtitle>Impacto Ambiental</mat-card-subtitle>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Impacto Ambiental</mat-label>
                            <textarea formControlName="impacto" matInput></textarea>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions class="btncrear">
                    <button [disabled]="!informacion.valid" (click)="guardarInformacion()" mat-raised-button
                            color="primary">Crear
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div *ngIf="dataSource?.length > 0" class="col-lg-12 md-6 sm-3">
            <mat-card>
                <mat-card-title>Palabras Clave</mat-card-title>
                <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Palabra Clave</mat-label>
                        <input [formControl]="palabra" matInput>
                    </mat-form-field>
                    <button *ngIf="palabra.valid" mat-icon-button matTooltipClass="tooltip-white"
                            (click)="guardarPalabra()"
                            matTooltip="Agregar Palabra Clave" matTooltipPosition="above">
                        <mat-icon class="iconoadd">add_circle</mat-icon>
                    </button>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 palabras-clave-table">

                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                            <td mat-cell *matCellDef="let element"> {{element.palabra}} </td>
                        </ng-container>


                        <ng-container matColumnDef="acciones">
                            <th scope="col" mat-header-cell *matHeaderCellDef>Acciones</th>
                            <td mat-cell *matCellDef="let row">
                                <ul class="table-action-list">
                                    <li>
                                        <button mat-icon-button aria-label="Example icon-button with a heart icon"
                                                matTooltipClass="tooltip-white" matTooltip="
                      Eliminar " (click)="deletePalabra(row.palabra)" matTooltipPosition="above">

                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </li>
                                </ul>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
            <div *ngIf="dataSource?.length === 0" class="mensaje-sin-grupos">
                <label>Sin objetivos especificos</label>
            </div>
        </div>
    </div>
</div>
