.section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: #001326;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .parrafo {
    text-align: center!important;
  }
  .titulo{
    text-align: center!important;
  }