<section id="somos">

  <div class="container">
    <div>
      <div class="titulo">Dirección de Ciencia, Tecnología e Innovación</div>
    </div>
    <div>
      <!-- <h4 class="section-subtitle">Quienes somos</h4> -->
        <span class="section-divider"></span>
        <div class="parrafo">
          Desde el año 2002, la Fuerza Aérea Colombiana, creó la Dirección de Ciencia, Tecnología e Innovación<br>
          en la Jefatura de Educación Aeronáutica, con la cual se estructuró el Sistema de Ciencia, Tecnología e
          Innovación (SCTeI) donde se definieron los roles de los actores internos y externos del sistema.<br>
          <br>
        </div>
    </div>

  </div>
</section>

<app-info-fac></app-info-fac>