th {
  text-align: center;
  justify-items: center;
}

td {
  text-align: center;
  justify-items: center;
}

.lef {
  text-align: left;
}

.rat {
  padding: 0% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;

}