<div class="container">
  <mat-card>
    <mat-vertical-stepper>
      <mat-step label="Tipos de Productos">
        <app-product-types></app-product-types>
        <div>
          <!-- <button mat-button matStepperNext>Next</button> -->
        </div>
      </mat-step>
      <mat-step label="Rubros">
        <app-project-entries></app-project-entries>

      </mat-step>
      <mat-step label="Lineas de Investigación">
        <app-investigation-lines></app-investigation-lines>
      </mat-step>
      <mat-step label="Programas de Investigación">
        <app-investigation-programs></app-investigation-programs>

      </mat-step>
      <mat-step label="Sub Programas de Investigación">
        <app-investigation-sub-programs></app-investigation-sub-programs>

      </mat-step>
      <mat-step label="Encargados de La Investigación">
        <app-investigation-endorsers></app-investigation-endorsers>

      </mat-step>
      <mat-step label="Tipos de Investigación">
        <app-investigation-types></app-investigation-types>

      </mat-step>
      <mat-step label="Categorías de Groups">
        <app-group-categories></app-group-categories>

      </mat-step>
      <mat-step label="Rol-Funcion">
        <app-inv-team-person-positions></app-inv-team-person-positions>
      </mat-step>

    </mat-vertical-stepper>
  </mat-card>
</div>
