<!-- <div class="row">
  <div class="col-xs-1 col-sm-3 col-md-6 col-lg-12">
    <img src="../../../../assets/images/100FAC.jpg" alt="">
  </div>
</div> -->

<!-- <div class="carousel" data-interval="100">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../../assets/images/100FAC.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://d2r89ls1uje5rg.cloudfront.net/sites/default/files/banner-1.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../../assets/images/100FAC.jpg" alt="Third slide">
    </div>
  </div>
</div>  -->

<!-- <video autoplay muted loop id="myVideo">
  <source src="rain.mp4" type="video/mp4">
</video> -->

<iframe width="100%" height="600px" src="https://www.youtube.com/embed/videoseries?list=PLS-o4V-bPt5fId8qMMVbEi9E3cSkhzWBv" title="YouTube video player" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
<!-- <iframe width="100%" height="600px" src="https://www.youtube.com/embed/bMUv0EjHZJM?autoplay=1&showinfo=0&controls=0&rel=0&modestbranding=1&iv_load_policy=3&AutoHide=1" title="YouTube video player" frameborder="0" allowfullscreen></iframe> -->
<!-- <iframe width="100%" height="600" src="https://www.youtube.com/embed/videoseries?list=PLS-o4V-bPt5fId8qMMVbEi9E3cSkhzWBv" title="YouTube video player" frameborder="0" allowfullscreen></iframe> -->
