

<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Objetivos">
    <app-objetivos></app-objetivos>
  </mat-tab>
  <mat-tab label="Información">
    <app-informacion [ivNs]="textoHijo2"></app-informacion>
  </mat-tab>
  <mat-tab label="Planteamiento del problema">
    <app-planteamiento-de-problema></app-planteamiento-de-problema>
  </mat-tab>
  <mat-tab label="Riesgo">
    <app-riesgos></app-riesgos>
  </mat-tab>
  <mat-tab label="Resumen">
    <app-resumen></app-resumen>
  </mat-tab>
  <mat-tab label="Marco Conceptual">
    <app-marco-conceptual></app-marco-conceptual>
  </mat-tab>
  <mat-tab label="Estado del Arte">
    <app-estado-arte></app-estado-arte>
  </mat-tab>
  <mat-tab label="Metodologia">
    <app-metodologia></app-metodologia>
  </mat-tab>
  <mat-tab label="Resultados Esperados">
    <app-resultados-esperados></app-resultados-esperados>
  </mat-tab>
  <mat-tab label="Resultados Previos">
    <app-resultados-previos></app-resultados-previos>
  </mat-tab>
  <mat-tab label="Bibliografia">
    <app-bibliografia></app-bibliografia>
  </mat-tab>
  <mat-tab label="complementos">
    <app-complementos></app-complementos>
  </mat-tab>

</mat-tab-group>
