<div id="functions" class="all">
  <section>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-xs-12">
            <img class="mx-auto d-block" src="https://i.ytimg.com/vi/gKcChpK34tk/maxresdefault.jpg" alt="">
          </div>

          <div class="col-lg-7 col-md-6 col-xs-12">
            <div>
              <div class="titulo">Funciones</div>
              <div class="parrafo">
                  <li>
                      Promover el desarrollo científico, tecnológico y la innovación de la Fuerza Aérea
                      Colombiana deacuerdo
                      con los
                      programas estratégicos del CTeI.
                  </li>
                  <li>
                      Proporcionar las condiciones necesarias para que los desarrollos científicos, tecnológicos e innovadores
                      se articulen con
                      los sectores social y productivo con el fin que contribuyan con la solución de necesidades
                      institucionales
                      y la construcción del tejido económico y social del país.
                  </li>
                  <li>
                      Propender por la articulación del Sistema Nacional de Ciencia, Tecnología e Innovación (SNCTI) de
                      Colciencias
                      y con las entidades y actores del mismo.
                  </li>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>