$background-color: #F1F5F9;
$background-header-color: #F3F2F7;
$text-color: #2E3A4C;
$white-color: #FFF;
$background-green-button: #E4F8ED;
$border-green-button: #2AC770;
$background-purple-button: #EEEDFD;
$border-purple-button: #7366F0;
$background-orange-button: #FFF3E8;
$border-orange-button: #FFB46C;
$background-red-button: #FCEAEA;
$border-red-button: #ED6667;

#tabla {
  width: 100px;
  margin: auto;
}

.dashboard {
  background-color: $background-color;
  height: 100%;
  padding: 20px;
  text-align: center;
  width: 100%;


  &__jefe {
    height: auto;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
  }

  &__sub-title {
    margin-top: 10px;
    font-size: 20px;
  }

  &__container {
    background-color: $white-color;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 20px;
    margin: 30px auto;
    padding: 30px;
    width: auto !important;

    &--title {
      text-align: left;

      label {
        font-size: 20px;
        font-weight: bold;
      }
    }

    &--table {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: $text-color;
      margin-top: 20px;
      min-height: 200px;
      min-width: 820px;
      display: contents;

      table {
        //display: block;
        overflow-x: auto;
        white-space: nowrap;
        border-collapse: collapse;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0 auto;

        thead {
          background-color: $background-header-color;
          font-weight: bold;
          font-size: 15px;
        }
      }

      .table-border-left {
        border-top-left-radius: 20px;
      }

      .table-border-right {
        border-top-right-radius: 20px;
      }

      td {
        border-bottom: 1px solid $background-color;
        padding: 10px 20px;

        .project {
          &-active {
            background-color: $background-green-button;
            border-radius: 15px;
            color: $border-green-button;
            padding: 0 5px 0 5px;

            label {
              margin: 0;
            }
          }

          &-block {
            background-color: $background-red-button;
            border-radius: 15px;
            color: $border-red-button;
            padding: 0 5px 0 5px;

            label {
              margin: 0;
            }
          }
        }
      }

      .square-icon-default {
        background-color: $background-orange-button;
        color: $border-orange-button;
        border-radius: 10px;
        cursor: pointer;
        height: 36px;
        padding: 5px;
        width: 36px;
      }

      .square-red-icon {
        @extend .square-icon-default;
        background-color: $background-red-button;
        color: $border-red-button;
      }

      .square-green-icon {
        @extend .square-icon-default;
        background-color: $background-green-button;
        color: $border-green-button;
      }

      .view-detail-icon {
        text-align: -webkit-center;
      }

      .dashboard-project-name {
        display: grid;
        grid-template-columns: 35px calc(100% - 35px);

        div:first-child {
          text-align: left;
        }

        div:not(first-child) {

        }

        label {
          white-space: initial;
        }
      }

      .dashboard-actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__container--jefe {
    margin-bottom: 30px;
  }

  .no-active-projects {
    margin-top: 100px;
    label {
      font-size: 20px;
    }

    .icon-not-found .material-icons{
      font-size: 60px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .dashboard__container {
    width: auto;
  }
}
