<div class="container">
  <mat-dialog-content class="mat-typography">
  <mat-card class="card tabla-responsive-x">

    <mat-card-title>Listado de Convocatorias</mat-card-title>
    <mat-card-subtitle>En la siguiente tabla encontrará las convocatorias activas en el sistema</mat-card-subtitle>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element">{{element.Descripcion}}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th scope="col" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <ul class="table-action-list">
            <li>
              <button mat-icon-button aria-label="Example icon-button with a heart icon" matTooltipClass="tooltip-white"
                matTooltip="Formular Proyecto" matTooltipPosition="above" (click)="formular()"
                [routerLink]="['formular',row._id]">

                <mat-icon>settings</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</mat-dialog-content>
</div>
