<section id="capacidades">
    <div class="all">
        <div class="titulo">
            Capacidades
        </div>

        <ul class="honeycomb" lang="es">
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/1">
                <div class="honeycomb-cell__title">Lineas de investigación y desarrollo tecnologico</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/2">
                <div class="honeycomb-cell__title">Dirigir los centros de investigación del SEFAC</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/3">
                <div class="honeycomb-cell__title">Deasrrollo de los procesos de I+D+i</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/4">
                <div class="honeycomb-cell__title">Sistemas de información de acceso a redes científicas</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/5">
                <div class="honeycomb-cell__title">Registros tecnologicos desarrollados I+D+i y reglamentacion de uso
                </div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/6">
                <div class="honeycomb-cell__title">Difundir la tecnologia adquirida y desarrollada</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
                <div class="honeycomb-cell__title">Garantizar el patrimonio tecnológico de la fuerza</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/6">
                <div class="honeycomb-cell__title">Desagregar tecnologias adquiridas en otros campos I+D+i</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
                <div class="honeycomb-cell__title">Estimular la creatividad de personal para fomentar I+D+i</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/6">
                <div class="honeycomb-cell__title">Bases de datos I+D+i para desarrollo de proyectos aeronáuticos</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
                <div class="honeycomb-cell__title">Propuesta de investigacion por linea de investigación</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/6">
                <div class="honeycomb-cell__title">Actividades de aprovechamiento infraestructura para I+D+i</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
                <div class="honeycomb-cell__title">Proyectos Adquisición tecnológica para transferencia de tecnología
                </div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/6">
                <div class="honeycomb-cell__title">Dirigir planes de atronáutica, astronomía, medicina, aeroespacial y
                    medicina espacial en la CCE</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
                <div class="honeycomb-cell__title">Formulación de proyectos de I+D+i en temática aeroespacial.</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/6">
                <div class="honeycomb-cell__title">Gestión de protección de proyectos con entidades nacionales e
                    internacionales</div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
                <div class="honeycomb-cell__title">Manejo propiedad intelectual para desarrollo económico y protección
                </div>
            </li>
            <li class="honeycomb-cell">
                <img class="honeycomb-cell__image" src="https://source.unsplash.com/random/7">
                <div class="honeycomb-cell__title">Desde el cielo protegemos nuestra tierra<br />FAC</div>
            </li>
            <li class="honeycomb-cell honeycomb__placeholder"></li>
        </ul>
    </div>
</section>
<!--
<section id="capacidades">
    <!--<img src="../../../assets/images/CAPACIDADES.png" alt="" style="width:100%; height:auto;" >-->
<!--
    <ul class="mdc-image-list myImageTitle">
        <li class="mdc-image-list__item">
            <div class="">
                <img src="../../../assets/images/Capacidades(title).JPG">
            </div>
        </li>
    </ul>

    <ul class="mdc-image-list myImageList">
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(1).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(2).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(3).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(4).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(5).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(6).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(7).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(8).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(9).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(10).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(11).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(12).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(13).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(14).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(15).JPG" class="mdc-image-list__image">
            </div>
        </li>
    </ul>
    <ul class="mdc-image-list myImageList2">
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(16).JPG" class="mdc-image-list__image">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img src="../../../assets/images/Capacidades(17).JPG" class="mdc-image-list__image">
            </div>
        </li>
    </ul>
</section> -->