<div class="container">
  <mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-title>
      Tabla de Honorarios
    </mat-card-title>

    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.honorarioId}} </td>
        </ng-container>

        <ng-container matColumnDef="formacion">
          <th mat-header-cell *matHeaderCellDef> formacion </th>
          <td mat-cell *matCellDef="let element"> {{element.formacion}} </td>
        </ng-container>

        <ng-container matColumnDef="experiencia">
          <th mat-header-cell *matHeaderCellDef> experiencia </th>
          <td mat-cell *matCellDef="let element"> {{element.experiencia}} </td>
        </ng-container>

        <ng-container matColumnDef="tope">
          <th mat-header-cell *matHeaderCellDef> tope </th>
          <td mat-cell *matCellDef="let element"> {{element.topeMaximo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>

    <mat-card-actions>


      <button mat-stroked-button (click)="cancelar()" color="warn">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

</div>
