<footer class="footer">
  <div class="container">
    <div class="titulo">Fuerza Aérea Colombiana</div>
    <div class="row">

      <div class="col-lg-4 col-md-7 col-xs-12">
        <img class="logo" width="200px" height="auto" src="https://cdn979857.fac.mil.co/sites/default/files/marca%20fac%20gris%20fn.png">
        <!-- <img src="//d2r89ls1uje5rg.cloudfront.net/sites/all/themes/fac_theme/logo.png" alt="" class="logo"> -->
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 parrafo">
        <a href="https://www.google.com/maps/place/CATAM/@4.70348,-74.1518187,988m/data=!3m1!1e3!4m12!1m6!3m5!1s0x8e3f9cca3bb07547:0x545ee7c823e7ba8!2sCATAM!8m2!3d4.70348!4d-74.14963!3m4!1s0x8e3f9cca3bb07547:0x545ee7c823e7ba8!8m2!3d4.70348!4d-74.14963"
          class="email parrafo">
          <div class="parrafo">Avenida El Dorado Cra. 54 # 26 -25 CAN</div>
        </a>
        <div class="parrafo"><strong>Página web: </strong><a href="https://www.fac.mil.co/"
            class="email parrafo">www.fac.mil.co/</a></div>
        <div class="parrafo" class="parrafo"><strong>Código postal: </strong>111711</div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 parrafo">
        <a href="tel:+5713159800" class="email parrafo">
          <div class="parrafo"><strong>PBX: </strong> (57) (1) 3159800</div>
        </a>
        <a href="tel:+5713159800" class="email parrafo">
          <div class="parrafo"><strong>FAX: </strong> 3159800 (opción 9)</div>
        </a>
        <div class="parrafo"><strong>Correo: </strong><a href="mailto:atencionusuario@fac.mil.co" class="email parrafo">
            atencionusuario@fac.mil.co</a></div>
      </div>

    </div>
  </div>
  <div class="redes">
    <div class="parrafo">
      <!-- <a mat-button [routerLink]="['/terminosCondiciones']">Ver términos y condiciones de uso</a> -->
      <div class="parrafo">© Copyright Fuerza Aérea Colombiana. Todos los derechos reservados</div>
    </div>
  </div>
</footer>











<!-- Footer Start

  <div class="footer-alt py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <p class="text-white-50 font-size-15 mb-0"> © Copyright Fuerza Aérea Colombiana. Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- Footer End -->