  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <ng-template matStepLabel>Crear</ng-template>
      <mat-label>Crear Convenio</mat-label>
      <app-convo-new (messageEvent)="receiveMensage($event)"></app-convo-new>
      <div *ngIf="message">
        <div>
          <div>
            <mat-label> ¿Desea importartar alguna configuracion de Convenios anteriores para?
            </mat-label>
          </div>
          <div>
            <button mat-button mat-dialog-close="false" >No, Finalizar</button>
            <button mat-button matStepperNext >Si</button>  
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Clonar Terminos</ng-template>
      <mat-label>elija que Convenio desea clonar</mat-label>
      <app-clone-convo></app-clone-convo>
      <button mat-button mat-dialog-close="false" >Finalizar</button>
    </mat-step>
  </mat-horizontal-stepper>