
<!--INICIA ESPACIO PARA DEFINIR MODAL FINALIZAR PROYECTO JEFE CENTRO-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="mt-3" [formGroup]="formEncuestaFinalizarPr" (ngSubmit)="metodobasura()">
            <div class="form-group">
                <h4>¿El costo real del proyecto correspondió con el costo inicialmente planeado?</h4>
                <mat-form-field>
                    <select class="form-control form-control-lg" matNativeControl formControlName="respuesta_preg_uno" >
                      <option value="SI">SÍ</option>
                      <option value="NO">NO</option>
                    </select>
                  </mat-form-field>
            </div>

            <div class="form-group">
                <h4>¿De no corresponder, las modificaciones al plan de inversión fueron aprobadas por la DICTI?</h4>
                <mat-form-field>
                    <select class="form-control form-control-lg" matNativeControl formControlName="respuesta_preg_dos" >
                      <option value="SI">SÍ</option>
                      <option value="NO">NO</option>
                    </select>
                  </mat-form-field>
            </div>

            <div class="form-group">
                <h4>¿La información contenida en el informe de cierre financiero del proyecto está debidamente soportada?</h4>
                <mat-form-field>
                    <select class="form-control form-control-lg" matNativeControl formControlName="respuesta_preg_tres" >
                      <option value="SI">SÍ</option>
                      <option value="NO">NO</option>
                    </select>
                  </mat-form-field>
            </div>

            <div class="form-group">
                <h4>Los costos para la ejecución del proyecto respecto de lo planeado fueron</h4>
                <mat-form-field>
                  <select class="form-control form-control-lg" matNativeControl formControlName="respuesta_preg_cuatro" >
                    <option value="Inferiores">Inferiores</option>
                    <option value="Correspondientes">Correspondientes</option>
                    <option value="Superiores">Superiores</option>
                  </select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <h4>Determine las acciones a tomar en caso de que los costos para la ejecución del proyecto de investigación hayan sido superiores o inferiores a lo inicialmente planeado.</h4>
                <!-- <input type="text" formControlName="respuesta_preg_cinco" class="form-control form-control-lg"> -->
                <mat-form-field class="example-full-width" appearance="fill">
                    <textarea formControlName="respuesta_preg_cinco" cols="40" rows="5" style="resize: both;" matInput placeholder="..."></textarea>
                </mat-form-field>
            </div>

            <div class="mb-3">
                <a
                    (click)="metodoActualizarProyectoFinalizar()"
                    (click)="modal.close()">
                    <button type="submit" class="btn btn-success btn-lg float-start">Aceptar</button>
                <!--<button class="btn btn-secondary btn-lg float-end" routerLink="/">Cancelar</button> Redirecciona a '/'-->
                </a>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Cancelar</button>
    </div>
</ng-template>
<!--MODAL TERMINADO-->

<div class="text-center col-lg-12 col-md-12 col-xs-12 overflow-auto card-centros-listado__table-div">
    <table #clasificar="matSort" mat-table [dataSource]="dataSource" matSort class="container-tabla mat-elevation-z8">
        <ng-container matColumnDef="proyecto">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Proyecto</th>
            <td mat-cell *matCellDef="let element"> {{element.iniciarProyecto[0].nombreProyecto}} </td>
        </ng-container>

        <ng-container matColumnDef="avance">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Avance</th>
            <td mat-cell *matCellDef="let element"> {{calculateAdvance(element.date_inicio,element.date_fin)}}%</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th scope="col" mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row">
                <ul class="table-action-list table-acciones">
                    <li>
                        <button
                                *ngIf="(this.sesion_user.role.name == 'Jefe De Centro')&&(row.finalizado != true)"
                                mat-icon-button
                                aria-label="Example icon-button with a heart icon"
                                matTooltipClass="tooltip-white"
                                matTooltip="Finalizar proyecto"
                                (click)="modal.open(contenido)"
                                (click)="openModalEncuesta(row._id)"
                                matTooltipPosition="right"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </li>
                    <li>
                        <button
                                *ngIf="(this.sesion_user.role.name != 'Jefe De Centro')"
                                mat-icon-button
                                aria-label="Example icon-button with a heart icon"
                                matTooltipClass="tooltip-white"
                                matTooltip="Finalizar proyecto"
                                (click)="iniciarFirmas(row)"
                                matTooltipPosition="right"
                        >
                            <mat-icon>vpn_key</mat-icon>
                        </button>
                    </li>
                    <!-- (this.sesion_user.role.name == 'Jefe De Centro')|| -->
                    <li>
                        <button
                            *ngIf="(row.finalizado == true)"
                            matTooltipClass="tooltip-white"
                            matTooltip="Ver PDF"
                            matTooltipPosition="above"
                            class="square-red-icon"
                            (click)="viewPDF(row._id)"
                        >
                            <mat-icon>picture_as_pdf</mat-icon>
                        </button>
                    </li>
                </ul>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <div class="linea" *ngIf="!hayProyectos"></div>
    <b *ngIf="!hayProyectos"><br>ACTUALMENTE NO HAY PROYECTOS POR MOSTRAR . . .</b>
</div>