
.container-tabla {
    margin-left: auto; //centrar tabla
    margin-right: auto; //centrar tabla
    text-align:center;
}

.container-tabla th{
    text-align:center;
}

.modal-body h4, mat-label {
    color: #004884;
    font-weight: 700;
    letter-spacing: normal;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
}

td > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}