<div id="model">
  <section class="all">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 col-md-6 col-xs-12 ">
          <div>
            <div class="titulo">Programas e Iniciativas de investigación</div>

            <table class="default">
                <tr>
                    <th scope="col">Programas Específicos</th>
                    
                </tr>
                <tr>
                    <td><b>Dominio del Aire</b></td>
                    
                </tr>
                <tr>
                    <td>Programa de Desarrollo Aeronáutico</td>
                    
                </tr>
                <tr>
                <tr>
                    
                </tr>
                <tr>
                    <td><b>Dominio del Espacio</b></td>
                    
                </tr>
                <tr>
                    <td>Programa de Desarrollo Espacial y Programa Antártico</td>
                    
                </tr>
                <tr>
                <tr>
                   
                </tr>
                <tr>
                    <td><b>Dominio del Ciberespacio</b></td>
                    
                </tr>
                <tr>
                    <td>Programa de Ciberdefensa (Ciberseguridad, Ciberoperaciones)</td>
                    
                </tr>
                <tr>

                    <td>
                    </td>
                    
                </tr>
                <tr>
                    <th scope="col">Programas Transversales</th>
                    
                </tr>
                <tr>
                    <td><b>Programa de Defensa Estratégica</b></td>
                    
                </tr>
                <tr>
                    <td>Sistemas de Mando y Control Multidominio</td>
                   
                </tr>
                <tr>
                <tr>
                    
                </tr>
                <tr>
                    <td><b>Programa de Apoyo a la Misión</b></td>
                    
                </tr>
                <tr>
                    <td>Herramientas Gestión Tecnológica y de Proyectos de CTeI</td>
                    
                </tr>
                <tr>
                <tr>
                    
                </tr>
                
                <tr>

                    <td>
                    </td>
                    
                </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto d-block">
          <img class="mx-auto d-block"
            src="https://cdn979857.fac.mil.co/sites/default/files/portfolio-images/kfit%2Bf16%20relampago%202.jpg">
        </div>
      </div>
    </div>
  </section>
</div>