<div class="container">
    <mat-card class="card">
        <mat-card-title>Lista de seguimiento de proyecto</mat-card-title>
        <mat-card-subtitle>En esta lista se presentan las actividades del proyecto</mat-card-subtitle>
        <mat-card-content>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Estadísticas">
                    <app-estadisticas></app-estadisticas>
                </mat-tab>
                <mat-tab label="Cronograma">
                    <app-cronograma-new></app-cronograma-new>
                </mat-tab>
                <mat-tab label="Rubros">
                    <app-seguimiento-rubro></app-seguimiento-rubro>
                </mat-tab>
                <mat-tab label="Reportes">
                    <app-reportes></app-reportes>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
