<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">

  <mat-toolbar class="col-9" color="red" class="example-toolbar">
    <div class="col-3">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>notes</mat-icon>
      </button>
      <a href="/front-fac">
        <img class="logo" width="200px" height="auto"
          src="https://cdn979857.fac.mil.co/sites/default/files/marca%20fac%20gris%20fn.png">
      </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-nav-list>
        <app-nav-perfil></app-nav-perfil>
        <a class="LetraBlanca" mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav"> <!--Acá van las rutas/submenus-->

          <mat-icon>{{nav.icon}}</mat-icon> {{nav.name}}

          <button
          *ngIf="nav.icon2=='announcement'"
          mat-icon-button
          matTooltip="¡¡Pendientes por proteger!!"
          aria-label="Example icon-button with a heart icon"
          routerLink="/pages/propiedad-intelectual"
          >
          <mat-icon [ngStyle]="{'color':'red'}" >{{nav.icon2}}</mat-icon>
          </button>

        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
